
*.tlog
*.log
*.obj
*.idb
*.pdb
*.dll
*.sdf
*.opensdf
*.zip
*.db
*.opendb
*.db-shm
*.db-wal
*.suo
*.ipch
*.iobj
*.ipdb
*.exp
*.lib
*.lock
*.ide
*.ide-shm
*.ide-wal
*.ilk
*.cache
*.png
*.bmp
H3.Plugin.Template/bin/Release/H3.Plugin.Template.vsix
